/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Whitney';
}
.padding{
    padding: 1em;
}
.padding-footer{
    padding: 0.1em .5em;
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
#grey{
    background-color:#D3D3D3 ;
}

#order{
    order: 1;
    border: 2px dashed black;
}
#order-tre{
    order:0;
}

.button{
    background-color: #ffffff;
    border: 0;
    padding: .7em .8em;
    border-radius: 18px;
}
.jumbo{
    font-size: 1rem;
    border-radius: 22px;
    
}
.two{
    background-color: black;
    color: white;
    padding: .7em 1em;
}

/* HEADER */
.box-header{
    width: 100%;
    min-height: 580px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.box-header .top-header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    
}
/* Box Header principale */

.top-header .logo-header{
    width: 20%;
}
.logo-header img{
    width: 70%;
}
.top-header .login-header{
    width: 20%;
    text-align: end;
    
    
}
.menu-header{
    display: flex;
    list-style-type: none;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    
}
.menu-header li{
    padding: 0em .9em;
}

    /* Title Container */
#container-title{
    width: 80%;
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
}
#container-title .title-header{
    width: 70%;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#container-title .title-header h1{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: .6em;
}
#container-title .title-header p{
    color: white;
    font-size: 1.2rem;
    line-height:1.5em;
    margin-bottom: .8em;
}
.call{
    display: flex;
    justify-content: center;
}

/* MAIN */
.box-main{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}
.box-row{
    width: 100%;
    height: 470px;
    display: flex;
}
.row-two{
    width: 40%;
    background-color: #D9D9D9;
}
.row-one{
    width: 60%;
    background-color: #1E90FF;
    border: 2px dashed black;
}
.pink{
    background-color: pink;
    border: 2px dashed black;
}

/* Main Big */

.box-big{
    height: 1020px;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
}
.box-big .big{
    width: 100%;
    height: 890px;
    background-color: #228B22;
    border: 1px dashed black;
}

/* Footer */
    /* Footer top */
.footer-top{
    height: 620px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
}
.box-footer{
    width: 100%;
    height: 570px;
    background-color: #DAA520;
    display: flex;
    margin-top: 10px;
}
.row-footer{
    flex-grow: 2;
    background-color: palevioletred;
    border: 2px dashed black;
}
.row-small{
    background-color: #20B2AA;
    border: 2px dashed white;
    flex-grow: 1;
}
    /* Footer bottom */

.footer-bottom{
    width: 100%;
    min-height: 80px;
    background-color: black;
    display: flex;
    align-items: flex-end;
}
.menu-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;;
    background-color: #7FFFD4;
    padding: 1em 0em;
}



